---
layout: compress
---
.content {
    width: 80%;
    margin: auto;
}
textarea {
    display: none;
}
.download a {
    display: block;
}
.markdown {
    line-height: 2;
}
@media screen and (min-width: 570px){
    .markdown {
        text-align: justify;
        text-indent: 1cm;
    }
}
